@import url("../contactList/contactList.module.css");
@import url("../contactForm/contactForm.module.css");
@import url("../searchBox/searchBox.module.css");
@import url("../contact/contact.module.css");
@import url("../loading/loading.module.css");
@import url("../error/error.module.css");

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}

li {
  list-style: none;
}

button {
  font-weight: 600;
  border: 2px solid rgb(152, 135, 113);
  border-radius: 10px;
  color: rgb(152, 135, 113);
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
button:hover {
  border: 2px solid #fff;
  color: #111;
  background-color: antiquewhite;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.phonebook-text {
  text-align: center;
}
