.contact-form {
  border: 2px solid rgb(152, 135, 113);
  background-color: rgb(231, 213, 185);
  border-radius: 5px;
  margin: 7px;
  padding: 15px 10px 15px 10px;
  width: 330px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input {
  padding: 6px 10px;
  margin: 0 0 10px 0;
  border: 2px solid rgb(152, 135, 113);
  border-radius: 6px;
}
.form-input:hover,
.form-input:focus,
.form-input:active {
  border: 2px solid #fff;
  background-color: antiquewhite;
}

.button-add-contact {
  width: 100px;
  padding: 5px;
}

.error-message-form {
  color: red;
  margin: -8px 0 10px 0;
}
